<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 1</ion-title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
    <img src="https://cdn.discordapp.com/attachments/938922482432376843/980321638371442768/setup.jpg" />
  <p>&nbsp; This set up, took a lot of time and money to build, but almost every bit of it was donated by my community, I would not have been able to have any of this without the awesome community I have found and grown. This information I hope will help you to achieve these goals and reach your dreams in the business of streaming. Just be ready to put in a lot of time and work, nothing comes free and just like you there is thousands of others wanting to make the dream of streaming, a reality, what makes you different than them? That is what you need to find out, work with, and bring to light to show others why watching you is worth it.</p>
  <ion-button color="dark" expand="round" class="ion-float-left" [routerDirection]="'root'" [routerLink]="['/chapter1']">Last Page</ion-button>
  <ion-button color="dark" expand="round" class="ion-float-right" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Page</ion-button>
  <p class="ion-text-center">2</p>
</ion-content>
