<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>The End!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p>&nbsp; Thank you for reading this book, I really do hope you learned a few things and can take some information and apply it to your streaming to improve on whatever it is that you are trying to do with it. If you ever need any more assistance or help with anything stream related just join our community discord and send me a message, we have a lot of dedicated members always willing to help someone out.</p>
<br> &nbsp; Join the Discord - <a href="https://discord.gg/tkUdKJwZQ8">Barehugg Community Discord</a> <br><br>
<img width="70%" src="https://cdn.discordapp.com/attachments/938922482432376843/980323473454948382/Professional.jpg"><br>
  <ion-button color="dark" expand="round" class="ion-float-left" [routerDirection]="'root'" [routerLink]="['/chapter6']">Last Page</ion-button>
  <ion-button color="dark" expand="round" class="ion-float-right" [routerDirection]="'root'" [routerLink]="['/home']">Back to Cover</ion-button>
  <p class="ion-text-center">12</p>
</ion-content>
