<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<img src="https://cdn.discordapp.com/attachments/938922482432376843/980321638564397066/wants.jpg"><br>
  <p>Once you have gotten all the things for the viewers and supporters, you have upgraded your vital equipment, the things that have helped me more than anything else with streaming has got to be the stream deck first, then better peripherals such as a keyboard, mouse, and headset, and then better screens for better game play, and last but definitely not least, upgrade the computer. I save this for last because it is the most expensive part, so this will give the most amount of time to be able to afford the best you can get, you get what you pay for when it comes to streaming things. Just remember it takes a long time to get a lot out of your stream, do not expect to make a return on the starting up things for at least a couple of months just keep your head up and try to do what you can.</p>
  <ion-button color="dark" expand="round" class="ion-float-left" [routerDirection]="'root'" [routerLink]="['/chapter3']">Last Page</ion-button>
  <ion-button color="dark" expand="round" class="ion-float-right" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Page</ion-button>
  <p class="ion-text-center">6</p>
</ion-content>
