<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="https://cdn.discordapp.com/attachments/938922482432376843/980322346286071879/requirements.jpg">
  <p>&nbsp; I highly suggest when setting up your stream for the first time, do some research on what you need and start at lower settings and move them up as required. Also be aware that too low of settings will also cause a lag, so if you are confident that your computer should not be having an issue with lowest settings and it is, move them up such as adjust your FPS to 60 instead of 30 and move your Bitrate up to 6k instead of 4k. Doing this will put more of a load on the machine and allow you to test it more accurately. The necessities for streaming include: a mic(can change settings in stream software to make sound like a more expensive mic), a second screen(this can be a phone or tablet), lighting(can be a $2 lamp), and a headset(to stop mic from picking up game sound or chat).<br></p>
  <h5>If you are messing with your computer and streaming settings have a way to check and keep an eye on your temps!</h5>
  <ion-button color="dark" expand="round" class="ion-float-left" [routerDirection]="'root'" [routerLink]="['/chapter2']">Last Page</ion-button>
  <ion-button color="dark" expand="round" class="ion-float-right" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Page</ion-button>
  <p class="ion-text-center">4</p>
</ion-content>
