<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      The Streaming Adventure
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" [routerDirection]="'root'" [routerLink]="['/toc']">
  <p class="title">The Streaming Adventure</p>
  <p class="leading">My story of streaming and teaching you how I did it.</p>
  <img class="image" src="https://cdn.discordapp.com/attachments/938922482432376843/980333873223307264/Twitch_Banner_Logo_part_9.png"><br>
  


</ion-content>
