<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="https://cdn.discordapp.com/attachments/938922482432376843/980331545250390066/LOGO.png"><br>
  <p> &nbsp; The main thing you can learn from growth, is do not expect it to come on its own. You have to go out and get your own growth, do not expect someone to just show up, go engage with people and spread the word. You are your own greatest hype man, if you are not spreading the word about your stream, Who will? It will take time either way it goes, it is not a super fast process but if you work at it you can grow decently fast, I grew at a rate of about 100 follows each month after month 2. This is a very fast rate and a good goal to have, but if you do not hit it, do not get discouraged, just keep going and grinding out finding new people and new followers, meet new people and make friends everywhere you go. Try not to burn bridges, once a bridge is burned, it is really hard to build a path from ash.</p>
  <ion-button color="dark" expand="round" class="ion-float-left" [routerDirection]="'root'" [routerLink]="['/chapter5']">Last Page</ion-button>
  <ion-button color="dark" expand="round" class="ion-float-right" [routerDirection]="'root'" [routerLink]="['/chapter6']">Next Page</ion-button>
  <p class="ion-text-center">10</p>
</ion-content>
