<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 6 - Good Luck on your Adventure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>&nbsp; There is a lot of information out there and tons of things that you can do to succeed in streaming, just remember the key thing to streaming, be yourself and make sure it is something you enjoy. If you look at it more like a job than something you enjoy, you will slowly grow to hate it, and that can not last.<br>&nbsp; Make sure to keep things new and fresh, add things and try new things out, but make sure to not overload your screen with 40 different things, it becomes too much to look at for new people that did not see the growth, so add some things and take some things that were not working out.<br>&nbsp; Just because something works for someone else, does not mean it will work for you. Keep your head up, and keep doing your thing! <br>&nbsp; Feel free to tell me about your growth, things that did and did not help you, or just ask more questions and learn more by joining the community and messaging me!</p>
<img class="image" src="https://cdn.discordapp.com/attachments/938922482432376843/980337553913810954/Box.jpg"><br>
  <ion-button color="dark" expand="round" class="ion-float-left" [routerDirection]="'root'" [routerLink]="['/chap5-page2']">Last Page</ion-button>
  <ion-button color="dark" expand="round" class="ion-float-right" [routerDirection]="'root'" [routerLink]="['/chap6-page2']">Next Page</ion-button>
  <p class="ion-text-center">11</p>
</ion-content>
